@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500;600;700&display=swap");
@import url("https://site-assets.fontawesome.com/releases/v6.1.1/css/all.css");
@import url("https://site-assets.fontawesome.com/releases/v6.4.0/css/sharp-regular.css");
:root {
  --background: #030303;
  --text: #fefefe;
  --lime-green: #44cc88;
  --green: #16ff00;
  --red: #ff2244;
  --dark-green: #38ac2d;
  --gray: #1e1e1e;
  --swiper-theme-color: #38ac2d;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: "Maven Pro", sans-serif;
  background: var(--background);
  color: var(--text);
  padding: 32px 50px;
}
body::-webkit-scrollbar {
  width: 10px;
  background: none;
}
body::-webkit-scrollbar-thumb {
  background: var(--dark-green);
}
a {
  text-decoration: none;
  color: var(--text);
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .menu-button {
  color: var(--text);
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  transition: all 0.2s ease;
}
header .menu-button:hover {
  color: var(--dark-green);
}
header .menu-button i {
  font-family: "Font Awesome 6 Sharp" !important;
}
header .menu {
  position: fixed;
  right: 0;
  top: 0;
  width: 300px;
  height: 100%;
  padding-right: 30px;
  background: var(--dark-green);
  transform: translateX(100%);
  transition: all 0.2s ease;
}
header .menu.active {
  transform: translateX(0);
  z-index: 3;
}
header .menu .close-button {
  position: absolute;
  top: 40px;
  right: 40px;
  font-size: 26px;
  background: none;
  border: none;
  color: var(--background);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
header .menu .close-button:hover {
  color: var(--red);
}
header .menu .links {
  height: 100%;
  display: flex;
  align-items: end;
  justify-content: center;
  flex-direction: column;
}
header .menu .links a {
  font-size: 26px;
  color: var(--background);
  transition: all 0.2s ease-in;
}
header .menu .links a:not(:last-child) {
  margin-bottom: 30px;
}
header .menu .links a:hover {
  color: var(--text);
}
.pagination {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 30px;
  right: 50px;
  top: 40vh;
  color: var(--dark-green);
  z-index: 2;
}
.pagination .bullet {
  position: relative;
  width: 10px;
  height: 10px;
  border: 2px solid var(--dark-green);
  border-radius: 50%;
  list-style: none;
  cursor: pointer;
}
.pagination .bullet:hover {
  background: var(--dark-green);
}
.pagination .bullet.active {
  background: var(--dark-green);
}
.pagination .bullet.active > i {
  position: absolute;
  width: 20px;
  height: 20px;
  left: -7px;
  top: -7px;
  border: 2px solid rgba(56, 172, 45, 0.5);
  border-radius: 50%;
}
main {
  position: relative;
  padding: 140px 0 80px 0;
}
main .bar {
  width: 40px;
  height: 4px;
  background: var(--dark-green);
  position: absolute;
  left: -50px;
  top: 153px;
}
main .frame {
  position: absolute;
  height: 100%;
  width: 240px;
  top: 0;
  left: 470px;
  border: 4px solid var(--dark-green);
  z-index: -10;
}
main .frame::before {
  content: "";
  position: absolute;
  left: -4px;
  top: 186px;
  display: block;
  width: 4px;
  height: 60px;
  background: var(--background);
}
main .modules {
  display: flex;
  flex-direction: column;
}
main .title {
  font-size: 24px;
  margin-bottom: 20px;
}
main .about {
  font-size: 50px;
  margin-bottom: 28px;
}
main p {
  font-size: 14px;
  margin-bottom: 30px;
}
main .links {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
main .links a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--gray);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease;
}
main .links a:hover {
  background: var(--dark-green);
  border: 3px solid var(--dark-green);
  color: var(--background);
}
.auto-type {
  color: var(--dark-green);
}
main .buttons .button {
  color: var(--text);
  list-style: none;
}
.mouse-scroll {
  margin: 180px 0 140px 0;
  position: relative;
  display: flex;
  justify-content: center;
}
.mouse-scroll a {
  width: fit-content;
  transition: all 0.2s ease;
  font-size: 36px;
  display: flex;
  justify-content: center;
}
.mouse-scroll a:hover {
  color: var(--dark-green);
}
.mouse-scroll a::before {
  content: "\f078";
  font-family: "Font Awesome 6 Pro";
  font-weight: 500;
  position: absolute;
  bottom: -22px;
  font-size: 20px;
  cursor: pointer;
}
.mouse-scroll a::after {
  content: "\f078";
  font-family: "Font Awesome 6 Pro";
  font-weight: 500;
  position: absolute;
  bottom: -36px;
  font-size: 20px;
  cursor: pointer;
}
.mouse-scroll i {
  cursor: pointer;
}
.project {
  margin-bottom: 40px;
}
section {
  padding-top: 80px;
  width: 100%;
  height: 100%;
}
section .title {
  font-size: 40px;
  text-align: center;
}
section span {
  color: var(--dark-green);
}
section .project {
  margin-top: 60px;
}
section .project h2 {
  font-size: 30px;
  margin-bottom: 36px;
}
.swiper-slide {
  border-radius: 10px;
}
.swiper-button {
  width: 2rem;
  height: 100%;
  top: 22px;
  color: var(--lime-green);
  border: 2px solid var(--lime-green);
  border-radius: 0.5rem;
  transition: color 0.3s ease;
}
.swiper-button-prev {
  left: 0;
}
.swiper-button-next {
  right: 0;
}
.swiper-button:hover {
  color: var(--background);
  background: var(--lime-green);
}
section .goto-button {
  color: var(--text);
  text-decoration: none;
  font-size: 16px;
  top: 0;
  display: flex;
  flex-direction: row;
  transition: all 0.2s ease;
}
section .goto-button:hover {
  color: var(--dark-green);
}
section .goto-button i {
  margin-left: 10px;
}
.swiper-button::before,
.swiper-button::after {
  font-size: 35px;
}
.skills-section .skills {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 60px;
}
.skills-section .skills .card {
  position: relative;
  overflow: hidden;
  aspect-ratio: 1 / 1;
  width: 280px;
  border-radius: 10px;
  background-size: cover;
  cursor: pointer;
}
.skills-section .skills .card::-webkit-scrollbar {
  display: none;
}
.skills-section .skills .card .skill-name {
  position: absolute;
  font-size: 32px;
  top: 26px;
  right: 36px;
}
.skills-section .skills .card .about {
  width: 100%;
  height: 100%;
  transform: translateY(78%);
  padding: 20px;
  line-height: 22px;
  color: var(--text);
  transition: all 0.4s ease-in-out;
}
.skills-section .skills .card:hover > .about {
  transition-delay: 100ms;
  -o-transition-delay: 100ms;
  -moz-transition-delay: 100ms;
  -webkit-transition-delay: 100ms;
  transform: translateY(33%);
}
.skills-section .skills .card .about h3 {
  font-size: 26px;
  margin-bottom: 20px;
}
.contact form {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.contact form input,
.contact form textarea {
  width: 80%;
  height: 46px;
  font-size: 17px;
  font-family: "Maven Pro", sans-serif;
  border: 2px solid var(--dark-green);
  color: var(--text);
  border-radius: 5px;
  background: none;
  outline: none;
  transition: all 0.2s ease;
  padding: 11px;
}
.contact form textarea {
  resize: vertical;
}
::-webkit-input-placeholder {
  color: var(--text);
}
.contact form input:hover,
.contact form textarea:hover {
  background: #383838;
}
.contact form .submit {
  width: 80%;
  height: 46px;
  font-size: 20px;
  font-family: "Maven Pro", sans-serif;
  border: 2px solid var(--dark-green);
  border-radius: 6px;
  outline: none;
  background: none;
  color: var(--text);
  cursor: pointer;
  transition: all 0.2s ease;
}
.contact form .submit:hover {
  background: var(--dark-green);
  color: var(--background);
}
.contact form .status {
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
}
.contact form .status.success {
  color: var(--dark-green);
}
.contact form .status.success + .contact form input,
.contact form textarea {
  border-color: var(--dark-green);
}
.contact form .status.error {
  color: var(--red);
}
.contact form .status.error + input {
  border-color: var(--red);
}
.attribution {
  position: sticky;
  width: fit-content;
  height: fit-content;
  bottom: 30px;
  left: 0;
  z-index: 10;
}
.attribution .bar {
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 40px;
  height: 2px;
  background: var(--dark-green);
}
@media screen and (max-width: 780px) {
  main .bar {
    top: 152px;
  }
  main .frame {
    display: none;
  }
  main .title {
    font-size: 22px;
  }
  main .about {
    font-size: 44px;
  }
  main p {
    font-size: 14px;
  }
  main .links {
    gap: 20px;
  }
  .skills-section .skills .card {
    width: 240px;
  }
  .skills-section .skills .card .skill-name {
    font-size: 28px;
  }
  .skills-section .skills .card .about {
    font-size: 14px;
    margin-bottom: 20px;
    transform: translateY(76%);
  }
  .skills-section .skills .card .about h3 {
    font-size: 24px;
  }
  .skills-section .skills .card:hover > .about {
    transform: translateY(23%);
  }
}
@media screen and (max-width: 520px) {
  main .bar {
    top: 149px;
  }
  main .frame {
    display: none;
  }
  main .title {
    font-size: 18px;
    margin-bottom: 20px;
  }
  main .about {
    font-size: 30px;
    margin-bottom: 28px;
  }
  main p {
    font-size: 14px;
    margin-bottom: 30px;
  }
  .pagination {
    display: none;
  }
  main .links {
    gap: 20px;
  }
  header .links a {
    font-size: 22px;
  }
  .skills-section .skills .card {
    overflow: scroll;
    width: 200px;
  }
  .skills-section .skills .card .skill-name {
    font-size: 24px;
  }
  .skills-section .skills .card .about {
    font-size: 12px;
    margin-bottom: 20px;
    transform: translateY(72%);
  }
  .skills-section .skills .card .about h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .skills-section .skills .card:hover > .about {
    transform: translateY(25%);
  }
}
